table {
    border-collapse: collapse;
    width: 70%;
    color: white;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background: rgba(228, 220, 220, 0.2);
  }
  
  tr:nth-child(even) {
    background: rgba(2,2,2,0.2)
  }


.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
  padding-right: 1vh;
}

.myButton {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  padding: 1vh;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color:#f6f6f6;
}
.myButton:active {
  position:relative;
  top:1px;
}
