:root {
    --font-B612: 'B612', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-B612);
}
/* =====================
Header
====================== */
.table__container{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 50vh;
    font-family: var(--font-B612);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.curved {
    position: relative;
    height: 100vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }

/* =====================
Table
====================== */

.table__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
